{{ partial "header" . }}
{{ partial "breadcrumbs" . }}

{{ $maanden := .Site.Data.dagenenmaanden.maanden }}
{{ $dagen := .Site.Data.dagenenmaanden.dagen }}
{{ with .Params }}
<h1>{{ .title }}</h1>
<ul class="plaats-en-tijd">
    <li><span>waar:</span><a href="https://maps.google.com/?q={{ .waar }}">{{ .waar }}</a></li>
    <li><span>wanneer:</span>{{ index $dagen (dateFormat "Monday" .wanneer.van) }}
        {{ dateFormat "2" .wanneer.van }}
        {{ index $maanden (dateFormat "1" .wanneer.van) }}
        {{ dateFormat "2006" .wanneer.van }}, van
        {{ dateFormat "15:04" .wanneer.van }} tot
        {{ dateFormat "15:04" .wanneer.tot }}
    </li>
</ul>
{{ end }}

{{ .Content }}

<div class="inschrijven">
    Je kunt inschrijven tot {{ index $dagen (dateFormat "Monday" .Params.eventbrite.inschrijventot )}}
        {{ dateFormat "2" .Params.eventbrite.inschrijventot }}
        {{ index $maanden (dateFormat "1" .Params.eventbrite.inschrijventot) }}
        {{ dateFormat "2006" .Params.eventbrite.inschrijventot }}
        {{ dateFormat "15:04" .Params.eventbrite.inschrijventot }}.
    <div>
        {{ if (time .Params.eventbrite.inschrijventot).After now }}
        <a href="{{ .Params.eventbrite.url }}" target="_blank" rel="noreferrer noopener">
            inschrijven
        </a>
        {{ else }}
        <span style="font-weight: bold;">de inschrijving is gesloten</span>
        {{ end }}
    </div>
</div>

{{ partial "footer" . }}
