// https://company-51033.frontify.com/d/E6KNDhunr9mR/coderdojo-style-guide-1460385526

// CoderDojo colors:
$purple: #642580;
$orange: #ED684A;
$teal: #41BAC1;
$fontColor: #555;
$backgroundColor: white;
$footerBackgroundColor: black;
$footerColor: #888;

// CoderDojo fonts:
$font: "LatoWeb", sans-serif;

$headerHeight: 120px;
$footerHeight: 1000px;
$contentWidth: 1200px;

$photoBorderRadius: 5px;
$photoMargin: 15px;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $backgroundColor;
    color: $fontColor;
    font-family: $font;
    line-height: 1.5em;
}

ol {
    margin-left: 15px;
}

.purple-background {
    background-color: $purple;
}
.orange-background {
    background-color: $orange;
}
.teal-background {
    background-color: $teal;
}
.pages {
    list-style-type: none;
    li {
        margin-bottom: 10px;
        p {
            font-size: small;
            margin-left: 10px;
        }
    }
}
.plaats-en-tijd {
    background-color: $purple;
    color: white;
    font-weight: bold;
    padding: 10px;
    margin: 5px 0px 20px 0px;
    li {
        list-style-type: none;
    }
    span {
        display: inline-block;
        width: 100px;
        font-weight: normal;
    }
    a {
        color: white;
    }
}
.toggle {
    .toggle_header, .toggle_header_open {
        display: block;
        clear: both;
        cursor: pointer;
        margin: 10px;
    }
    .toggle_header p, .toggle_header_open p {
        display: inline;
    }
    .toggle_header:after {
        content: " ▶";
    }
    .toggle_header_open:after {
        content: " ▼";
    }
}

header {
    menu {
        font-size: larger;
        span.menu-toggle {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            padding: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 30px;
            width: 40px;
            i {
                background-color: #ffffff;
                height: 2px;
            }
        }
        logo {
            display: inline-block;
            padding: 10px;
            img {
                width: 150px;
            }
        }
        ul.menu {
            list-style-type: none;
            display: none;
            text-align: right;
            li {
                a {
                    padding-right: 10px;
                    line-height: 2;
                    color: white;
                    text-decoration: none;
                }
            }
        }
        ul.active {
            display: block;
        }
    }
}

main {
    line-height: 1.6em;
    li {
        padding: 1px;
    }
    p {
        text-align: justify;
        margin-bottom: 10px;
    }
    img {
        max-width: 100%;
    }
    .mentor {
        margin-bottom: 40px;
        img {
            float: right;
            margin: 0px $photoMargin 0px $photoMargin;
            border-radius: $photoBorderRadius;
        }
    }
    padding: 15px;
    margin-bottom: 30px;
    breadcrumbs {
        * {
            padding: 0;
            padding-bottom: 10px;
        }
        font-size: small;
        ul {
            display: inline-block;
            margin: 0;
            li {
                list-style-type: none;
                display: inline-block;
            }
        }
    }
    a {
        color: $fontColor;
    }
    ul {
       margin-left: 15px;
    }
    h1 {
        margin-top: 2.3em;
        margin-bottom: 0.9em;
    }
    h2 {
        margin-top: 2.3em;
        margin-bottom: 0.5em;
    }
    h3, h4, h5 {
        margin-top: 1.7em;
        margin-bottom: 0.2em;
    }
    figcaption {
        font-style: italic;
        margin-bottom: 30px;
        text-align: center;
    }
    .flex-grid {
        display: block;
    }
    .flex-grid-col {
        flex: 1;
        white-space: pre;
        p {
            text-align: center;
        }
    }
    .onderwerpen {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        .onderwerp {
            border: 1px solid #ddd;
            margin: 5px;
            width: 370px;
            padding: 10px;
            p {
                text-align: left;
            }
            a {
                text-decoration: none;
            }
        }
        .onderwerp:hover {
            background-color: #FAFAFA;
        }
    }
    .responsive_table {
        overflow-x: auto;
        table {
            width: 100%;
        }
        img {
            max-width: fit-content;
            border-radius: $photoBorderRadius;
            margin: $photoMargin;
        }
    }
    pre {
        overflow-x: auto;
    }
    .highlight {
        padding: 7px 15px 7px 15px;
        border-radius: 7px;
        border: 1px solid #DDD;
        overflow-x: auto;
        margin-bottom: 10px;
    }
    .verdieping {
        border: 1px solid #ddd;
        background-color: #eee;
        padding: 15px;
        margin-bottom: 10px;
    }
    .html-voorbeeld {
        border: 1px solid #ddd;
        background-color: #eee;
        padding: 15px;
        margin-bottom: 10px;
    }
    .p5js_voorbeeld {
        border: 1px solid #ddd;
        text-align: center;
    }
    .inschrijven {
        text-align: center;
        line-height: 5;
        a {
            padding: 10px;
            color: white;
            background-color: $teal;
            font-size: larger;
            font-weight: bold;
            text-decoration: none;
            box-shadow: black 1px 1px 2px 0px;
        }
        border-top: 1px solid #bbb;
        margin-top: 50px;
    }
    .mcs-index {
        zoom: 2.0;
        line-height: 1.4em;
        .dojo a {
            text-decoration: none;
        }
        table {
            width: 100%;
        }
    }
    .dojo {
        border: 1px solid #DDD;
        padding: 2em;
        a {
            text-decoration: none;
            display: block;
        }
        .dojo-kop {
            font-size: larger;
            padding-top: 10px;
            .gepland {
                font-size: smaller;
                color: red;
            }
        }
        margin-bottom: 3em;
        .locatie {
            font-size: smaller;
            color: #888;
        }
    }
    .geplandedojo {
        a {
            text-decoration: none;
            display: block;
            line-height: 3em;
        }
        .dojo-kop {
            font-size: larger;
        }
        .locatie {
            font-size: smaller;
            color: #888;
        }
    }
    .dojo:hover, .geplandedojo:hover {
        background-color: #FAFAFA;
    }
    .toc {
        margin-bottom: 50px;
        ul {
            list-style-type: none;
        }
    }
    .linkknop {
        border: 1px solid #DDD;
        margin-bottom: 1.5em;
        a {
            padding: 1em;
            text-decoration: none;
            display: block;
        }
        .linkknoptitel {
            font-size: 1.1em;
            font-weight: bold;
        }
    }
    .linkknop:hover {
        background-color: #FAFAFA;
    }
    .search {
        input[type="text"] {
            width: 50%;
            height: 3em;
            padding: 10px;
            border: 1px solid #ddd;
        }
        button {
            border: 1px solid #ddd;
            background-color: #ddd;
            height: 3em;
            padding-left: 20px;
            padding-right: 20px;
            cursor: pointer;
        }
        form {
            margin-right: 5px;
            display: inline;
        }
        margin-bottom: 50px;
    }
}


footer {
    background-color: $footerBackgroundColor;
    color: $footerColor;
    vertical-align: middle;
    text-align: center;
    a {
        color: $footerColor;
        font-size: smaller;
    }
    div#colofon {
        padding-top: 15px;
        div {
            margin-top: 10px;
            display: block;
            img {
                width: 100px;
            }
            p {
                line-height: 3;
                font-weight: bold;
            }
        }
    }
    div.copyright {
        line-height: 4;
    }
}

.scratch {
    svg {
        transform: scale(1.0) !important;
    }
    overflow-x: auto;
}
.caption {
    font-size: smaller;
    margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
    header {
        menu {
            width: $contentWidth;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            span.menu-toggle {
                display: none;
            }
            logo {
                 padding: 15px;
                 img {
                     width: 350px;
                 }
             }
             ul.menu {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding: 30px;
                li {
                    display: inline-block;
                    margin-left: 26px;
                }
            }
        }
    }

    main {
        margin: auto;
        margin-bottom: 60px;
        width: 100%;
        max-width: $contentWidth;

        .toc {
            float: right;
            padding: 20px;
            margin-left: 10px;
            margin-bottom: 10px;
            border: 1px solid #eee;
            ul {
                list-style-type: none;
            }
        }
        .instructie img {
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
        .search {
            input[type="text"] {
                width: 75%;
                height: 3em;
                padding: 10px;
                border: 1px solid #ddd;
            }
            form {
                margin-right: 20px;
            }
        }
        .flex-grid {
            display: flex;
        }
    }
    footer {
        height: $footerHeight;
        div#colofon {
            display: flex;
            width: $contentWidth;
            margin: 0 auto;
            div {
                width: 25%;
                p {
                    line-height: 3;
                    font-weight: bold;
                }
            }
        }
        div.copyright {
            line-height: 4;
        }
    }
}

/* Webfont: Lato-Regular */@font-face {
    font-family: 'LatoWeb';
    src: url('../fonts/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Italic */@font-face {
    font-family: 'LatoWebItalic';
    src: url('../fonts/Lato-Italic.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/* Webfont: Lato-Bold */@font-face {
    font-family: 'LatoWebBold';
    src: url('../fonts/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}