{{ partial "header" . }}
{{ partial "breadcrumbs" . }}
<h1>{{ .Title }}</h1>
<article class="instructie">
    {{ partial "toc" . }}
    {{ .Content }}
    {{ if not (and (gt .WordCount 100 ) (.Params.toc)) }}
    <ul class="instructie-lijst">
        {{ range .Pages.ByTitle }}
        <li>
            <a href="{{ .RelPermalink }}">
                <span class="instructie-titel">{{ .Title }}</span><br>
                {{ .Summary | plainify }}
            </a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</article>
{{ partial "footer" . }}