{{ partial "header" . }}
{{ partial "breadcrumbs" . }}
<h1>{{ .Title }}</h1>
{{ if not (.Params.toc) }}
<div class="search">
    <form action="{{ "instructiesdoorzoeken" | absURL }}">
    <input type="text" id="search-query" name="s" placeholder="type een zoekterm om de instructies te doorzoeken en druk enter" >
    <button>zoek</button>
    </form>
</div>
{{ end }}
<article class="instructie">
    {{ partial "toc" . }}
    {{ .Content }}
    {{ if not (and (gt .WordCount 100 ) (.Params.toc)) }}
    {{ range .Pages.ByTitle }}
    <div class="linkknop">
        <a href="{{ .RelPermalink }}">
            <span class="linkknoptitel">{{ .Title }}</span><br>
            {{ .Summary | plainify | htmlUnescape }}
        </a>
    </div>
    {{ end }}
    {{ end }}
</article>
{{ partial "footer" . }}