{{ partial "header" . }}
{{ partial "breadcrumbs" . }}
<h1>{{ .Title }}</h1>
<article class="instructie">
    {{ partial "toc" . }}
    {{ .Content }}
    {{ if not (and (gt .WordCount 100 ) (.Params.toc)) }}
    {{ range .Pages.ByTitle }}
    <div class="instructie-lijst">
        <a href="{{ .RelPermalink }}">
            <span class="instructie-titel">{{ .Title }}</span><br>
            {{ .Summary | plainify | htmlUnescape }}
        </a>
    </div>
    {{ end }}
    {{ end }}
</article>
{{ partial "footer" . }}