{{ $maanden := .Site.Data.dagenenmaanden.maanden }}
{{ $dagen := .Site.Data.dagenenmaanden.dagen }}
{{ with .Params }}
<h1>{{ .title }}</h1>
<ul class="plaats-en-tijd">
    <li><span>waar:</span>{{ .waar }}</li>
    <li><span>wanneer:</span>{{ index $dagen (dateFormat "Monday" .wanneer.van) }}
        {{ dateFormat "2" .wanneer.van }}
        {{ index $maanden (dateFormat "1" .wanneer.van) }}
        {{ dateFormat "2006" .wanneer.van }}, van
        {{ dateFormat "15:04" .wanneer.van }} tot
        {{ dateFormat "15:04" .wanneer.tot }}
    </li>
</ul>
{{ end }}

{{ .Content }}

<h2>Algemene info</h2>
<p>
    Kinderen vanaf 7 jaar kunnen gratis meedoen aan CoderDojo. Het enige wat je nodig hebt om mee te kunnen doen is een
    laptop met
    werkende wifi waarop je software mag installeren. Ben je 12 jaar of jonger? Dan vragen we je om één van je ouders
    mee te nemen
    om je te begeleiden tijdens de dojo. Verder kan het verstandig zijn om wat te eten mee te nemen,
    van programmeren krijg je namelijk hongerrrr!
</p>
<p>
    Om zeker te weten dat we over voldoende spullen beschikken, moet je van tevoren ook even reserveren. Je hebt slechts
    één ticket per kind nodig. Ouders hoeven geen ticket te reserveren.
    Denk er wel even aan om je ticket mee te nemen naar CoderDojo (mag digitaal).
</p>

<h2>No show?</h2>
<p>
    Ben je de dag zelf verhinderd, laat het dan op tijd weten! Zo kunnen we mensen op de wachtlijst uitnodigen of
    besluiten één van de mentoren een vrije zaterdag te gunnen.
    Bij herhaaldelijk niet opdagen zonder afmelding halen we je van de mailinglijst.
</p>

{{ if (time .Params.eventbrite.inschrijventot).After now }}
<div class="inschrijven">
    <a href="{{ .Params.eventbrite.url }}" target="_blank" rel="noreferrer noopener">
        inschrijven
    </a>
</div>
{{ end }}