</main>
<footer>
    <div id="colofon">
        <div>
            <p>Stichting CoderDojo Nijmegen</p>
            Nijhoffstraat 5<br>
            6524 AT Nijmegen<br>
            <br>
            <a href="{{ "/privacy" | relURL }}">privacybeleid</a>
        </div>
        <div>
            <img src="{{ "/imgs/coderdojo-nijmegen-anbi.png" | relURL }}" alt="ANBI logo"/>
        </div>
        <div>
            <p>hosting door:</p>
            <a href="https://github.com/coderdojonijmegen/" target="_blank" rel="noopener noreferrer">
                <img src="{{ "/imgs/GitHub_Logo_White.png" | relURL }}" alt="Hosting door GitHub Pages" />
            </a>
        </div>
        <div>
            <p>gesteund door:</p>
            <a href="http://www.stitpro.nl/" target="_blank" rel="noopener noreferrer">
                <img src="{{ "/imgs/stitpro-bw.png" | relURL }}" alt="Stitpro logo" />
            </a>
        </div>
    </div>
    <div class="copyright">
        CoderDojo Nijmegen &copy; {{ now.Format "2006" }}
    </div>
    <div class="social">
        <a href="https://www.facebook.com/pages/CoderDojo-Nijmegen/400380873445793" target="_blank" rel="noopener noreferrer"><img src="{{ "/imgs/facebook.png" | relURL }}" alt="Facebook" /></a>
        <a href="https://twitter.com/CoderDojo024" target="_blank" rel="noopener noreferrer"><img src="{{ "/imgs/twitter.png" | relURL }}" alt="Twitter" /></a>
        <a href="https://www.linkedin.com/company/stichting-coderdojo-nijmegen/" target="_blank" rel="noopener noreferrer"><img src="{{ "/imgs/linkedin.png" | relURL }}" alt="LinkedIn" /></a>
        <a href="https://www.eventbrite.nl/o/stichting-coderdojo-nijmegen-12043791497" target="_blank" rel="noopener noreferrer"><img src="{{ "/imgs/eventbrite.png" | relURL }}" alt="Eventbrite" /></a>
        <a href="https://github.com/coderdojonijmegen" target="_blank" rel="noopener noreferrer"><img src="{{ "/imgs/github.png" | relURL }}" alt="GitHub" /></a>
    </div>
</footer>
{{ $menu_toggle := resources.Get "js/menu-toggle.js" }}
{{ $voorbeeld_toggle := resources.Get "js/voorbeeld-toggle.js" }}
{{ $scratchBlocks := resources.Get "js/scratchblocks-v3.4-min.js" }}
{{ $scratchBlocksTranslations := resources.Get "js/translations-all-v3.4.js" }}
{{ $scratch := resources.Get "js/scratch.js" }}
{{ $script := slice $menu_toggle $voorbeeld_toggle $scratchBlocks $scratchBlocksTranslations $scratch | resources.Concat "js/bundle.js" }}
<script src="{{ $script.RelPermalink }}"></script>
</body>
</html>