<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    {{ $style := resources.Get "scss/coderdojo.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="icon" href="{{ "/imgs/icon-512x512.png" | relURL }}" />
    <meta property="og:title" content="CoderDojo Nijmegen - {{ .Title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{{ .Params.banner }}" />
    <meta property="og:url" content="https://coderdojo-nijmegen.nl{{ .RelPermalink }}" />
</head>
<body>
<header class="{{ if isset .Params "headercolor" }}{{ .Params.headercolor }}{{ else }}teal-background{{ end }}">
    <menu>
        <span class="menu-toggle" id="js-menu-toggle">
            <i></i>
            <i></i>
            <i></i>
        </span>
        <logo>
            <a href="{{ "/" | relURL }}">
                <img src="{{ "/imgs/logo_coderdojo_nijmegen.png" | relURL }}" alt="logo CoderDojo"/>
            </a>
        </logo>
        <ul id="js-menu" class="menu">
            {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
        </ul>
    </menu>
</header>
<main>