<div class="mcs-index">
    {{ readFile "index-mcs.md" | markdownify }}

    {{ range first 1 (where .Site.RegularPages.ByDate.Reverse "Section" "dojos") }}
    <h1>
        Instructies
    </h1>
    <ul>
        {{ range .Params.instructies }}
        <li><a href="{{ . }}">{{ . }}</a></li>
        {{ end}}
    </ul>
    <h1>Dojo</h1>
    <div class="dojo-kop">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </div>
    <article>
        {{ .Content }}
    </article>
    {{ end }}
</div>