{{- $json := "" -}}

{{/* Get JSON from local og-proxy. */}}
{{- with .Get 0 -}}
  {{- $url := replace . ":" "%3A" -}}
  {{- $url = replace $url "/" "%2F" -}}
  {{- $request := printf "http://127.0.0.1:5000/url/%s" $url -}}
  {{- $json = getJSON $request -}}
  {{/*<pre>{{ jsonify (dict "indent" "  ") $json }}</pre>*/}}
{{- end -}}

<div class="og-card"><a href="{{ $json.url }}">
  <img src="{{ $json.image }}" alt="">
  <h4><img class="favicon" src="{{ $json.icon }}" >{{ $json.title }}</h4>
  <p>{{ $json.description }}</p>
  <div class="card-link"><a href="{{ $json.url }}">{{ $json.url }}</a></div>
</a></div>